{% extends 'list.html' %}

{% block columns %}
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Creador</th>
      <th scope="col">Download</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for b in bajaTension46 %}
    <tr>
          <td>{{ b.titulo }}</td>
          <td>{{ b.creador }}</td>
          <td>
          <a href="{{ b.files.url }}" class="btn btn-primary btn-sm" target="_blank">
          Download
          </a>
          </td>          
    </tr>
    {% endfor %}
{% endblock %}