{% extends 'list.html' %} {% load static %} {% block head %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="https://code.highcharts.com/highcharts.js"></script>

{% endblock head %} 

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <a href="#" class="small-box-footer"></a>
              <div class="inner">
                  <h3>{{ subestacion_count }}</h3>
                  <p>Cantidad de Subestaciones</p>
              </div>
              <div class="icon">
                  <i class="ion ion-android-options"></i>                        
              </div>
              <a href="#" class="small-box-footer"></a>
          </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <a href="#" class="small-box-footer"></a>
            <div class="inner">
                <h3>{{ count_no_bt }}</h3>
                <p>Cantidad de Estructura</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer"></a>
        </div>
    </div>
      <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
              <a href="#" class="small-box-footer"></a>                  
              <div class="inner">
                <h3>{{ total_longitud_km  }}</h3>            
                <p>km de redes del PECH</p>                  
              </div>                    
              <div class="icon">
                  <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer"></a>
          </div>
      </div>
      <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <a href="#" class="small-box-footer"></a>
              <div class="inner">
                  <h3>{{ total_usuarios }}</h3>
                  <p>Usuarios Registrados</p>
              </div>
              <div class="icon">
                  <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer"></a>
          </div>
      </div>                   
    </div>
    </div>

<!-- Main content -->

<div class="container-fluid">
<div class="row">
<div class="col-md-6">

<div class="card card-primary">
<div class="card-header">
<h3 class="card-title"></h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>
<div class="card-body">
<div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<div id="container" style="width: 100%">
  <script>
      Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reporte de Subestaciones del año 2023'
        },
        subtitle: {
            text: 'Reporte de columnas'
        },
        xAxis: {
            categories: [
                'Distribuidora',
                'Terceros'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad (unid)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}: </b></td>' +
                '<td style="padding:0"><b> {point.y:.1f} Unidad</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Propiedad',
            showInLegend: false,
            colorByPoint: true,
            data: {{ data|safe }}

        }]
    });
  </script>
</div>
</div>
</div>

</div>


<div class="card card-danger">
<div class="card-header">
<h3 class="card-title"></h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>
<div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<div id="container2" style="width: 100%">
  <script>
      Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reporte de Estructuras por AMT'
        },
        subtitle: {
            text: 'Reporte de columnas'
        },
        xAxis: {
          categories: [
          'AL-1',
          'AL-2',
          'AL-3',
          'SPP001',
          'SPT001',
          'SSJ001'
      ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad (unid)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}: </b></td>' +
                '<td style="padding:0"><b> {point.y:.1f} Unidad</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Cantidad',
            showInLegend: false,
            colorByPoint: true,
            data: {{ data2 |safe }}

        }]
    });
  </script>
</div>
</div>
</div>
</div>

<div class="col-md-6">

<div class="card card-info">
<div class="card-header">
<h3 class="card-title"></h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>
<div class="card-body">
<div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<div id="container1" style="width:100%;"></div>
              <script>
                Highcharts.chart('container1', {
                  chart: {
                      type: 'pie'
                  },
                  title: {
                      text: 'Reporte de Subestaciones por AMT'
                  },
                  subtitle: {
                      text: 'Reporte de columnas'
                  },
                  xAxis: {
                      categories: [
                          'AL-1',
                          'AL-2',
                          'AL-3',
                          'SPP001',
                          'SPT001',
                          'SSJ001'
                      ],
                      crosshair: true
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Cantidad'
                      }
                  },
                  tooltip: {
                      headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}: </b></td>' +
                          '<td style="padding:0"><b> {point.y:.1f} Unidad</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                  },
                  plotOptions: {
                      column: {
                          pointPadding: 0.2,
                          borderWidth: 0
                      }
                  },
                  series: [{
                      name: 'Subestacion',
                      showInLegend: false,
                      colorByPoint: true,
                      data: {{ data1|safe }}
    
                  }]
              });
            </script>
</div>
</div>

</div>


<div class="card card-success">
<div class="card-header">
<h3 class="card-title"></h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>
<div class="card-body">
<div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<div id="container3" style="width: 100%">
  <script>
      Highcharts.chart('container3', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reporte de Seccionadores por AMT'
        },
        subtitle: {
            text: 'Reporte de columnas'
        },
        xAxis: {
          categories: [
          'AL-1',
          'AL-2',
          'AL-3',
          'SPP001',
          'SPT001',
          'SSJ001'
      ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad (unid)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}: </b></td>' +
                '<td style="padding:0"><b> {point.y:.1f} Unidad</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Cantidad',
            showInLegend: false,
            colorByPoint: true,
            data: {{ data3 |safe }}

        }]
    });
  </script>
</div>
</div>
</div>
</div>




</div>

</div>

</div>

</div>
</section>
{% endblock content %}
