{% extends 'body.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!--Card Datos de Perfil-->
        <div class="card-body">
        <h3>Cambiar Contraseña</h3>
        <form action="{% url 'update_password' %}" method="post">
          {% csrf_token %}
          
          <div class="mb-3">
            <label for="old_password" class="form-label">Contraseña Actual</label>
            <input type="password" name="password" class="form-control" id="old_password">
          </div>
          
          <div class="mb-3">
            <label for="id_new_password2" class="form-label">Nueva Contraseña</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1">
          </div>

          <div class="mb-3">
            <label for="id_new_password2" class="form-label">Confirmar nueva Contraseña</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2">
          </div>
          
          <input type="submit" class="btn btn-success" value="Actualizar contraseña">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}